<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>

  <connectionStrings>
    <add name="ConnectionString" connectionString="Server=127.0.0.1;Database=mirada;User Id = _upload; Password = 37193901;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="Write_SQLQuery" value="SELECT * FROM public.upload_data(@d)"/>
    <add key="Read_SQLQuery" value="SELECT * FROM public.get_points()"/>
  </appSettings>
</configuration>